img.editorPhoto{
	height: 20vh;
	width: auto;
}
div.editorBanner img{
	width: 20vw;
}
div#editorcontent{
	position: absolute;
	top: calc(6vh + 6.5vw);
	height:calc(94vh - 6.5vw);
	left:2%;
	width: 98%;
	/*height: calc(94vh - 6.5vw);          ////SCROLLBAR
	overflow-x: hidden;*/
	overflow-x:scroll;
	z-index: 0;
	text-align: justify;                /*SORKIZÁRÁS*/
    text-justify: inter-word;

}
div.artRow{
	height: 20vh;
	overflow:auto;
}
form#editormodes input{
	width: 9vw;
	height:2vw;
	font-size: 1vw;
	margin-bottom: 2vh;
}
.uparrow img{
	/*background-image:url('./content/assets/up_arrow.png');*/
	height:3vw;
	width:2vw;

}
.downarrow img{
	background-color: rgba(255, 255, 255, 0.1);
	border: none;
	height:3vw;
	width:2vw;
}
.w2{
	width: 2vw;
	height: 2vw;
}
.staticTitle{
	font-size: 1.5vw;	
	margin:0;
}
.staticText{
	border: 1px solid black;
	
}
/*input.w2 {
	display:none;
}
input.w2 + label span {
	display: inline-block;
	width: 2vw;
	height: 2vw;
	background: url(lockgreen.png) top no-repeat;
	cursor: pointer;
	background-size: cover;

}
input.w2:checked + label span {
	background: url(lock.png) top no-repeat;
	background-size: cover;
}*/
#activebutton{
	background-color:grey;
}
.w5{
	width: 5vw;
	height:2vw;
	font-size: 1vw;
}
.w10{
	width: 10vw;
	height:2vw;
	font-size: 1vw;
}
.w20{
	width: 20vw;
	height:2vw;
	font-size: 1vw;
}
.w30{
	width: 30vw;
	height:2vw;
	font-size: 1vw;
}
.w40{
	width: 40vw;
	height:2vw;
	font-size: 1vw;
}
.w50{
	width: 50vw;
	height:2vw;
	font-size: 1vw;
}
table td{
	text-align: center;
}
/*#usertable tr{
	width: 100%;
}
#usertable .td1{
	width: 8%;
}
#usertable .td2{
	width: 25%;
}
#usertable .td3{
	width: 30%;
}
#usertable .td4{
	width: 20%;
}
#usertable .td5{
	width: 15%;
}
#usertable .td6{
	width: 10%;
}
#usertable{
	width: 80%;
}
#usertable tr{
	width: 100%;
}
#usertable .td1{
	width: 8%;
}
#usertable .td2{
	width: 25%;
}
#usertable .td3{
	width: 30%;
}
#usertable .td4{
	width: 20%;
}
#usertable .td5{
	width: 15%;
}
#usertable .td6{
	width: 10%;
}
#usertable .td7{
	width: 8%;
}
#usertable .td8{
	width: 25%;
} */